* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"aside  aside  main   main   main   main   main   main   main   main   main   main"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	min-height: 100vh;
}

.header {
	grid-area: header;
	min-height: 100px;
	background-color: #f80202;
}

.aside {
	grid-area: aside;
	background-color: #f4f802;
}

.main {
	grid-area: main;
	background-color: #217a09;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.article {
	flex: 1 1 250px;
	min-height: 200px;
	background-color: #f84802;
}

.footer {
	grid-area: footer;
	min-height: 200px;
	background-color: #0602f8;
}

@media (width <= 1200px) {
	.wrapper {
		grid-template-areas:
			"header header header header header header header header header header header header"
			"aside  aside  aside  main   main   main   main   main   main   main   main   main"
			"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}

	.wrapper {
		grid-template-areas:
			"header header header header header header header header header header header header"
			"main   main   main   main   main   main   main   main   main   main   main   main"
			"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}
