.wrapper {
  height: 100rem;
}
.menu {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 500;
  font-style: italic;
}
.menu__title {
  font-size: 90px;
  margin-bottom: 60px;
}

.menu__item{
  font-size: 30px;
}
.menu__item:nth-child(2):hover {
  color: rgb(230, 21, 21);
}