body {
  background-color: #333;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.line {
  background-color: #fff;
  height: 2px;
}

.translate,
.rotate,
.scale,
.skew {
  padding: 100px 0;
}

h2 {
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
}

.translate__blocks,
.rotate__blocks,
.scale__blocks,
.skew__blocks {
  display: flex;
  justify-content: center;
}

.red,
.blue {
  width: 300px;
  height: 300px;
}

.red {
  background-color: rgba(240, 82, 82, 0.699);
}

.blue {
  background-color: rgba(102, 102, 228, 0.671);
}

/* ------------------------------------------------------- */


.rotate__red {
  transform: rotate(30deg);
  
}
.rotate__blue {
  transform:translateX(10vw);
}