html {
	font-family: sans-serif;
}
body * {
	box-sizing: border-box;
}
.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
	background-color: #ebe9e8;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #363131;
	flex-wrap: wrap;
	gap: 20px;
}
.logo {
	width: 36px;
	height: 36px;
	background-color: #fa0101;
}
.nav-list {
	display: flex;
	gap: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-link,
.phone {
	text-decoration: none;
	color: #000;
}
